extends ../layout/base

block header
  header.header--main#js-header--main
    .header--main-stats
      .container
        img(src="assets/img/thibautremy.jpg", alt="Thibaut REMY photo").header--main-stats-me
        h1.header--main-stats-title Thibaut REMY
          small Front-end Developer

        ul.stats-wrapper.clearfix
          li.stat
            h3.stat-name Age
            strong.stat-value#js-age 23.45664

          li.stat
            h3.stat-name Current location
            strong.stat-value Paris (FRANCE)

          li.stat
            h3.stat-name Coffees drunk today
            strong.stat-value#js-coffees 4.3

          li.stat
            h3.stat-name Number of Swedish words learnt
            strong.stat-value#js-swedishwords 154

          li.stat
            h3.stat-name Lines of code written
            strong.stat-value#js-codelines 124423

          li.stat
            h3.stat-name 3D polygons generated
            strong.stat-value#js-codelines 25.234

  .intro#js-intro
    .intro-1 Hi
    .intro-2
      | I'm 
      span#js-carrousel-intro.intro-carrousel Thibaut

block body
  section.body-wrapper#js-content
    .content
      nav.header--main-nav#js-header-nav
        a(href="/").header--main-link
          img.header--main-me(src="assets/img/thibautremy.jpg", alt="Thibaut REMY photo")
          h1.header--main-title THIBAUT.RE

      h2.content-title My projects
        small.content-title-desc Some projects I've been working on

      .projectcards.clearfix
        each project in projects
          a.projectcard(href="/project/" + project.url_name)
            .projectcard-imgwrapper
              img(src=project.img_url).projectcard-img.projectcard-img--full
              img(src=project.thumb_url).projectcard-img.projectcard-img--thumb
              .projectcard-imgtriangles

            .projectcard-content
              header.projectcard-header
                h3.projectcard-title(style="color:"+project.color)= project.name
                  small.projectcard-subtitle= project.type
                  small.projectcard-subtitle= project.date

              section.projectcard-body
                p.projectcard-desc= project.description

                h3 Technologies
                  ul.projectcard-techs
                    - var i = 0
                    while i < Math.min(5, project.technologies.length)
                      li.projectcard-tech= project.technologies[i]
                      - i++;

      .hireme-wrapper.clearfix
        h2.content-title.content-title--nohead Hire me !
          small.content-title-desc I'm currently available for hire.

        a(href="//thibaut.re/static/CV-Thibaut-REMY.pdf").hireme-cvlink.link
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-file-pdf-o.fa-stack-1x
          .hireme-cvlink-text CV 
            small (.pdf)

        p.hireme-mail Just write me your offer at 
          a(href="mailto:hire-me@thibaut.re?subject=Let's%20work%20Together", target="_blank").link hire-me@thibaut.re
          | &nbsp;. I'll check it out soon.

block scripts
  script(src="scripts/carrousel.js", type="text/javascript")
  script(src="scripts/age.js", type="text/javascript")
  script(src="scripts/stat.js", type="text/javascript")
  script(src="scripts/stickyheader.js", type="text/javascript")
  script(src="scripts/pages/index.js", type="text/javascript")
