extends ../layout/base_text

block title
  title= project.name + " | T H I B A U T . R E"

block content
  .project-wrapper.clearfix
    h2.project-title= project.name
      small= project.type

    img.project-image(src=project.thumb_url)

    h3 Description
    p.project-desc= project.description

    h3 Technologies

    ul.project-techs
    each tech in project.technologies
      li.project-tech= tech

